* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', 'Arial', 'DoHyeon-Regular',
        'Microsoft yahei', 'SimSun', 'MaShanZheng';
}

html,
body {
    font-size: 18px;
}

@font-face {
    font-family: 'MaShanZheng';
    src: url('./asset/font/MaShanZheng-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'DoHyeon-Regular';
    src: url('./asset/font/DoHyeon-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Monaco';
    src: url('./asset/font/monaco.ttf') format('truetype');
}

.page-header {
    line-height: 80px;
    background-color: #fff;
    color: #151513;
    text-align: center;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

#pageContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.job-item {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
    margin: 1em 2em;
    padding: 1em;

    border: 3px solid #151513;
    flex-basis: 360px;
}

.job-title {
    text-align: center;
    margin: 4px 0;
}
.job-title a {
    text-decoration: none;
    color: #333;
}
.job-title a:hover {
    color: #888;
}

.job-desc {
    clear: both;
    width: 100%;
    text-indent: 1em;
    margin: 4px auto;
}

.job-date {
    float: right;
    color: #333;
    font-family: 'Monaco';
}

.job-content {
    display: block;
    width: 100%;
    height: 256px;
    border: 2px dashed #151513;
    margin: 0 auto;
}
.job-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.clearfix::after {
    display: block;
    content: '';
    height: 0;
    clear: both;
    visibility: hidden;
}
